<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BDEx4.Properties.Settings._13000375_Ex4ConnectionString"
            connectionString="Data Source=SQL-ALUNOS\AULAS;Initial Catalog=13000375_Ex4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>